body {
  background-color: #ffefd1;
}

section {
  padding: 50px 0;
}

#main {
  background-color: white;
}

#main__container {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

#main__container.article-aside {
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

#footer {
  align-items: center;
  background-color: #ffefd1;
  display: flex;
  flex-direction: row;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 auto;
  width: 80%;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: fit-content;
}

.footer__newsletter span,
.footer__newsletter label {
  margin-bottom: 25px;
}

.footer__newsletter form {
  display: flex;
}

.footer__newsletter form input {
  width: 100%;
}

.footer__link {
  border-top: 1px solid #8d5617;
  width: 100%;
}

.footer__link-legals a {
  margin-left: 25px;
}

.footer__link-social a {
  margin-right: 25px;
}

#header {
  align-items: center;
  background-color: #ffefd1;
  display: flex;
  flex-direction: row;
  height: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  align-items: baseline;
  display: flex;
}

.navbar__link {
  align-items: baseline;
  display: flex;
}

.navbar__link li {
  margin-right: 25px;
}

.navbar__link li:hover {
  transform: scale(1.2);
}

a,
body,
option,
select,
#teddy__quantity,
.fab,
.far,
.fas {
  color: #8d5617;
}

button,
.btn {
  color: white;
}

a,
button,
h1,
h2,
h3,
label,
select,
input,
option,
.btn {
  font-family: "Grandstander", cursive;
}

body,
option,
select,
#teddy__quantity {
  font-size: 17px;
}

h1 {
  font-size: 40px;
  margin-right: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

h3,
.navbar a,
.name,
.price {
  font-size: 25px;
}

label,
button {
  font-size: 20px;
}

.fab,
.far,
.fas {
  font-size: 35px;
}

a,
h1,
h2,
h3,
.btn {
  font-weight: 600;
}

p {
  text-align: justify;
}

.text-center {
  text-align: center;
}

a,
h2 {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  background-color: #8d5008;
  align-items: center;
  display: flex;
  justify-content: center;
}

input {
  width: 150px;
}

select {
  padding: 10px;
}

button,
input,
option,
select {
  border-color: #8d5617;
  height: 50px;
  box-sizing: border-box;
}

#teddy__quantity {
  padding-left: 10px;
  width: 50px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.cart__price {
  border-bottom: 2px solid #8d5617;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: right;
}

.cart__box {
  border-bottom: 1px solid #8d5617;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cart__box-text {
  padding-left: 20px;
  padding-top: 20px;
  width: 80%;
}

.cart__box-text-quantity {
  display: flex;
  flex: row;
}

.cart__box-price {
  text-align: right;
  padding-right: 20px;
  min-width: 100px;
}

.cart__total {
  border-top: #8d5617 1px solid;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

.cart__form {
  border: 1px solid #8d5617;
  flex-direction: column;
  margin: 10px;
  width: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart__form input {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__box {
  background-color: none;
  margin: 20px;
  height: 450px;
  width: 450px;
  transition: 500ms linear background-color;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px 2px rgba(212, 211, 211, 0.308);
  border-radius: 15px;
}

.product__box:hover {
  background-color: #ffefd1;
  transform: scale(1.1);
  transition: 250ms linear background-color;
}

.product__box__link {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  display: flex;
  justify-content: center;
}

.product__box__text {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
}

.product__box__text-price {
  margin-left: 15px;
}

.product__box img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: top;
  height: 380px;
  width: 100%;
}

.orders {
  border: 1px solid black;
  flex-direction: column;
  width: fit-content;
  padding: 25px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.orders__box {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.orders__box-details {
  display: flex;
}

.teddy {
  display: flex;
  margin-top: 25px;
  box-sizing: border-box;
}

.teddy img {
  height: 100%;
  max-height: 500px;
  width: 70%;
  border-radius: 15px;
}

.teddy__box {
  margin: 25px 0 25px 25px;
  box-sizing: border-box;
}

.teddy__box__text-description {
  margin: 30px 0;
}

.teddy__box .btn {
  margin: 10px 0;
  padding: 0 14px;
  width: fit-content;
}
