body {
	background-color: $secondary-color;
}

h2 {
	padding-top: 50px;
}
section {
	padding: 25px 0;
}

#main {
	background-color: white;
	&__container {
		display: flex;
		flex-direction: column;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1000px;
	@include border-box;
}

.fa-chevron-left {
	margin-right: 10px;
}

/****** MEDIA QUIERIES ********/
/* 1024px */
@include xl {
	.container {
		margin: 0 50px;
	}
}
/* 375px */
@include sm {
	.container {
		margin: 0 25px;
	}
}
/******************************/
