#header {
	align-items: center;
	background-color: $secondary-color;
	display: flex;
	flex-direction: row;
	height: 70px;
	@include md {
		height: 150px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	@include md {
		flex-direction: column;
	}
	&__title {
		align-items: baseline;
		display: flex;
		@include md {
			margin-bottom: 15px;
		}
	}
}

.navbar {
	&__link {
		align-items: baseline;
		display: flex;
		& li {
			margin-left: 25px;
			@include md {
				margin-left: 0;
				margin-right: 25px;
			}
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
/****** MEDIA QUIERIES ********/
/* 600px */
@include md {
	#header {
		height: 150px;
	}
	.header {
		flex-direction: column;
		&__title {
			margin-bottom: 15px;
		}
	}
	.navbar li {
		margin-left: 0;
		margin-right: 25px;
	}
}
/******************************/
