// Boxes
@mixin border-box {
	box-sizing: border-box;
}
@mixin box-shadow {
	box-shadow: 0px 0px 12px 2px rgba(212, 211, 211, 0.308);
}

// Flexbox

@mixin flex-CC {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin max-width {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}
// Radius

@mixin radius15 {
	border-radius: 15px;
}
@mixin radius25 {
	border-radius: 25px;
}

// Media quieries
// Small devices >= 375px
@mixin sm {
	@media (max-width: #{$screen-sm-min}) {
		@content;
	}
}

// Medium devices >= 600px
@mixin md {
	@media (max-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices >= 900px
@mixin lg {
	@media (max-width: #{$screen-lg-min}) {
		@content;
	}
}

// Large devices >= 1024px
@mixin xl {
	@media (max-width: #{$screen-xl-min}) {
		@content;
	}
}
