.cart {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	width: 100%;

	&__price {
		border-bottom: 2px solid $primary-color;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: right;
	}

	&__box {
		border-bottom: 1px solid $primary-color;
		display: flex;
		flex-direction: column;
		padding: 5px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& img {
			width: 150px;
			@include radius15;
		}
		&-text {
			padding-left: 20px;
			padding-top: 20px;
			width: 80%;
		}
		&-price {
			text-align: right;
			padding-right: 20px;
			min-width: 200px;
		}
	}

	&__total {
		border-top: $primary-color 1px solid;
		text-align: right;
		padding-right: 20px;
		padding-top: 10px;
	}
}

.form {
	flex-direction: column;
	padding-top: 10px;
	& input {
		border: none;
		background-color: $secondary-color;
		margin-bottom: 10px;
		margin-top: 5px;

		@include box-shadow;
	}

	& input,
	& label {
		height: 30px;
		@include radius15;
	}
	&-box {
		flex-wrap: wrap;
		margin-bottom: 15px;
		@include flex-CC;
	}
	& button {
		margin-top: 15px;
		width: 150px;
	}
}

.hide {
	display: none;
}
