.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__box {
		background-color: none;
		height: 450px;
		margin-bottom: 25px;
		width: 48%;
		transition: 500ms linear background-color;
		&:nth-child(2n) {
			margin-left: 25px;
		}
		@include border-box;
		@include box-shadow;
		@include radius15;
		&:hover {
			background-color: $secondary-color;
			transform: scale(1.05);
			transition: 250ms linear background-color;
		}
		&__link {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			@include flex-CC;
		}
		&__text {
			height: 40px;
			width: 100%;
			@include border-box;
			@include flex-CC;
			&-price {
				margin-left: 15px;
			}
		}

		& img {
			border-radius: 15px 15px 0 0;
			object-fit: cover;
			object-position: top;
			height: 380px;
			width: 100%;
		}
	}
}

@include lg {
	.product__box {
		height: 300px;
		width: 100%;
		&:nth-child(2n) {
			margin-left: 0;
		}
		& img {
			height: 250px;
		}
	}
}
