/****** MEDIA QUIERIES ********/

@include md {
	.teddy {
		flex-direction: column;
	}
	& img {
		max-height: 350px;
		width: 100%;
	}
	&__box {
		width: 100%;
	}
}

/******************************/

.teddy {
	align-items: center;
	display: flex;
	min-height: 500px;
	margin: 30px 0;
	overflow: hidden;
	@include md {
		flex-direction: column;
	}
	& img {
		height: 500px;
		margin-right: 20px;
		object-fit: cover;
		object-position: center bottom;
		overflow: hidden;
		width: 50%;
		@include radius15;
		@include md {
			max-height: 350px;
			width: 100%;
		}
	}
	&__box {
		width: 50%;
		@include border-box;
		@include md {
			width: 100%;
		}
		&__text {
			margin: 25px 0;
			&-description {
				margin: 10px 0;
			}
		}
		& .btn {
			margin: 10px 0;
			padding: 0 14px;
			width: fit-content;
		}
	}
}
